{% extends 'accounts/nav.html' %}

{% block title%}Dashboard{%endblock%}
{% block content %}
    <div class="container my-4">
        <h5 class="text-uppercase font-weight-lighter text-primary ml-3">Summary</h5>
        <div class="row justify-content-center">
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total Users</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ users }}</h3>
                </div>
            </div>
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total User Roles</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ roles }}</h3>
                </div>
            </div>
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total Purchases</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ purchases }}</h3>
                </div>
            </div>
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total Stock Types</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ stocks }}</h3>
                </div>
            </div>
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total Sales Transactions</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ sales }}</h3>
                </div>
            </div>
            <div class="card shadow my-4 mx-4" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Total Expenses Category</h5>
                    <h3 class="card-text text-primary font-weight-bold">{{ category }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
