{% extends "accounts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block title%}Home{%endblock%}

{% block content%}
  <div class="d-md-flex flex-md-equal w-100">
        <div class="ml-md-4 pt-5 px-3 pt-md-5 px-md-5 overflow-hidden">
            <div class="my-5 pt-5 ml-4 px-0 w-50">
                <img class="display-5 mr-2" src="{% static 'accounts/images/Logo.png' %}" /> 
            </div>
            <div class="my-5 py-3 ml-4 px-0">
                <h1>Smart System for Supermarkets</h1>
            </div>
            <div class="my-5 py-3 ml-4 px-0">
                <p><small>The true source of info for Decision makers</small></p>
                <a class="btn btn-primary text-white" href="{% url 'login' %}">
                    Login to Get Started
                </a>
            </div>
        </div>
        <div class="text-center overflow-hidden">
            <img class="d-block rounded-circle" src="{% static 'accounts/images/home.jpeg' %}" style="width: 850px; height: 830px;" alt="Landing page" />
        </div>
    </div>
  
{%endblock%}
