{% extends 'accounts/nav.html' %}

{% block title%}Settings{%endblock%}

{% block content %}
    <script>
        $(document).ready(function() {
            $("#view").load("{% url 'user' %}");
            $("#index #disp a").click(function() {
                $("a.selected").removeClass("selected")
                $(this).addClass("selected");
                page = "{% url 'user' %}"
                pageurl = ""
                if ($(this).attr("id") == 'products'){
                    pageurl = page.replace("user",$(this).attr("id"));
                    pageurl = pageurl.replace("accounts", "stocks")
                }else{  
                    pageurl = page.replace("user",$(this).attr("id"));
                }
                $("#view").load(pageurl);
            });
        });
    </script>
    <div class="container my-4" style="max-width: 90%;">
        <div id=disp class="sidenav">
            <a id =user class="selected" href="#users"><i class="fa fa-users mr-1"></i>Users</a>
            <a id ="roles" href="#roles">Roles</a> 
            <a id="products" href="#products">Stocks</a>
            <a id="purchase" href="#purchase">Purchase</a>
            <a id="sales" href="#sales">Sales</a>
            <a id="expense" href="#expense"><i class="fa fa-money mr-1"></i>Expense</a>
        </div>
        <div class="embed-responsive main" style="max-width: 92%;">
            <div id='view'></div>
        </div>
    </div>
{% endblock %}
