{% extends "accounts/base.html" %}

{% load crispy_forms_tags %}
{% block title%}Signup{%endblock%}

{% block content%}
  <div class="container mt-5" style="width: 40%">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            {{ form|crispy }}
        </div>
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
    <div class="my-2">
        <p>Have an account already? <a href="{% url 'login' %}">Login here</a></p>
    </div>
    
</div>
{%endblock%}
