{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}

{% load static %}
<div class="container my-2">
    <div class="row navbar navbar-light mb-3 text-monospace ">
        <h5 class="text-uppercase font-weight-lighter">User Account</h5>
        <a class="nav-link border border-primary px-3 py-2 text-primary"
            href="{% url 'signup' %}"
            title="Add Staff Member"
            rel="modal:open"><i class="fa fa-user-plus mr-1"></i>Add User</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal" style="z-index: 50px">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#index #page a").click(function() {
                page = $(this).attr("href");
                pageurl = page.replace("#",'');
                $("#view").load(pageurl);
            });
        });
    </script>

    <style type="text/css">
        .parent .row:hover {
            background-color: gray;
            box-shadow: 0 1rem 1.5rem rgba(0,0,0,.07)!important;
          }
    </style>
    <!-- End of modal -->
    <!-- content -->
    <div class="text-monospace">
        <div class="row text-muted border-bottom mb-2">
            <div class="col-2 pl-5">Id</div>
            <div class="col-3 px-0">Name</div>
            <div class="col-3 px-0">Email</div>
            <div class="col-1">Admin</div>
            <div class="col-1">Status</div>
            <div class="col-2 pl-4">Action</div>
        </div>

        {% for user in user_list %}
            <div class="parent">
                <div class="row highlight bg-light mb-2 py-3">
                    <div class="col-2 pl-5">{{ user.id }}</div>
                    <div class="col-3 px-0">{{ user.username }}</div>
                    <div class="col-3 px-0">{{ user.email }}</div>
                    <div class="col-1">
                        {% if user.is_admin %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {% if user.is_active %}
                            Active
                        {% else %}
                            Disabled
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {% if user.is_active %}
                            <a class="btn btn-sm"
                                title="Deactivate Account"
                                href="{% url 'deactivate' user.id %}"
                                rel="modal:open"><i class="fa fa-toggle-off mr-1"></i>Deactivate</a></div>
                        {% else %}
                            <a class="btn btn-sm"
                                title="Activate Account"
                                href="{% url 'activate' user.id %}"
                                rel="modal:open"><i class="fa fa-toggle-on mr-1"></i>Activate</a></div>
                        {% endif %}
                </div>
            </div>
        {% endfor %}

        <div id="page" class="pagination justify-content-end mt-4"> 
            <span class="step-links">
                <span>
                    {% if page_obj.has_previous %}
                        <a class="btn" href="#{% url 'user' %}?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
                    {% else %}
                        <a href="#" class="btn disabled text-muted">PREVIOUS</a>
                    {% endif %}
                </span>
                <span>
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
                <span>
                    {% if page_obj.has_next %}
                        <a class="btn" href="#{% url 'user' %}?page={{ page_obj.next_page_number }}">NEXT</a>
                    {% else %}
                        <a href="#" class="btn disabled text-muted">NEXT</a>
                    {% endif %}
                </span>
            </span>
        </div>
    </div>
    <!-- End of content -->
</div>