{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% load crispy_forms_tags %}

<div class="container my-2">
    <div class="navbar navbar-light mb-3 text-monospace ">
        <h4 class="text-uppercase font-weight-lighter">User</h4>
        <a class="signup-btn nav-link border border-primary px-3 py-2 text-primary"
            data-toggle="modal"
            data-target="#exampleModal"
            href="{% url 'signup' %}"
            title="Add Staff Member"
            data-tooltip>Add User</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(function () {
            // Sign up button
            $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});
        });
    </script>
    
    <!-- End of modal -->
    <div>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
        <p class="font-weight-light"> 
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
            illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. 
            Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. 
            Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
    </div>
</div>